.review {
    background: linear-gradient(180deg, #52B6EC 0%, rgba(82, 182, 236, 0) 100%);
    /* height: 550px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.reviewed {
    padding-bottom: 140px;
}
.reviewer img {
    margin-left: 75%;
    position: relative;
    display: flex;
    width: 27%;
}
.reviewers {
    margin-top: -330px;
}
.reviewers h4 {
    font-weight: 600;
    font-size: 30px;
    color: #2F281E;
    margin-bottom: 20px;
}
.reviewers p {
    font-weight: 500;
    font-size: 14px;
    color: #567592;
    padding-bottom: 40px;
}
.reviewee img {
    margin-right: 650px;
    width: 27%;
}
.but {
    background: #FF9900;
    border-radius: 4px;
    border-style: hidden;
    height: 40px;
    width: 170px;
    color: #FFFFFF;
}
.reviewees img {
    width: 24%;
    margin-left: 70%;
    margin-bottom: -100px;
}
.revieweers img {
    width: 25%;
    margin-right: 650px;
}
.revieweerrs img {
    width: 28%;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .review {
        width: 100%;
              flex-direction: column;
  /* overflow: hidden; */
    }
    .reviewed {
        position: unset;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .revs {
        display: flex;
        flex-direction: column;
        /* position: unset; */
    }
    .reviewers {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        align-self: center;
    }
    .reviewers h4 {
        margin-top: 0;
        font-size: 25px;
    }
    .reviewers p {
        /* margin-top: -5px; */
        font-size: 12px;
    }
    .rev img {
        display: flex;
        flex-direction: column;
        position: unset;
        width: 35%;
        margin-top: 5px;
    }
    .reviewer img {
        margin-left: 280px;
        padding-bottom: 5px;
        /* margin-top: 50px; */
        padding-top: 50px;
        display: none;
    }
    .reviewee img {
        margin-left: 20px;
        padding-bottom: -30px;
        display: none;
    }
    .reviewees img {
        margin-left: 280px;
        padding-bottom: 105px;
        display: none;
    }
    .revieweers img {
        margin-left: 20px;
        padding-bottom: 5px;
        display: none;
    }
    .revieweerrs img {
        margin-left: 150px;
        padding-bottom: 5px;
        display: none;
    }
    /* .reviewers {
        display: flex;
        flex-direction: column;
        position: unset;
    } */
    .reviewers .but {
        /* margin-left: 100px; */
        /* margin-top: 190px; */
        align-self: center;
    }
}