.sub {
    padding: 20px;
    overflow: hidden;
}
.plans {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    margin-bottom: 40px;
}
.planns {
    position: relative;
}
.planns img {
    max-width: 65%;
    position: absolute;
    top: -20px;
}
.planns p {
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    margin-left: 600px;
    margin-top: 35px;
}
.planns h6 {
    font-weight: 700;
    font-size: 26px;
    color: #2F281E;
    margin-left: 600px;
    margin-bottom: -30px;
}
.plannss {
    margin-left: 600px;
    margin-top: 30px;
}
.plannss p {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-left: 60px;
    margin-top: -35px;
}
.plannss img {
    padding: 20px 0px 0px 0px;
}
.button {
    background: #FF9900;
    border-radius: 10px;
    border-style: hidden;
    height: 40px;
    width: 150px;
    color: #000000;
    margin-left: 60px;
    margin-top: 30px;
}
.subs {
    position: relative;
}
.subs img {
    max-width: 65%;
    position: absolute;
    top: -50px;
    left: 600px;
}
.subbs {
    position: relative;
}
.subs p {
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    margin-left: 140px;
    margin-top: 35px;
}
.subs h6 {
    font-weight: 700;
    font-size: 26px;
    color: #2F281E;
    margin-left: 140px;
    margin-bottom: -30px;
}
.subbs {
    margin-left: 140px;
    margin-top: 30px;
}
.subbs p {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-left: 60px;
    margin-top: -35px;
}
.subbs img {
    padding: 20px 0px 0px 0px;
}
.diamond {
    position: relative;
}
.diamond img {
    max-width: 42%;
    position: absolute;
    top: -20px;
}
.diamond p {
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    margin-left: 600px;
    margin-top: 50px;
}
.diamond h6 {
    font-weight: 700;
    font-size: 26px;
    color: #2F281E;
    margin-left: 600px;
    margin-bottom: -30px;
}
.diamonds {
    margin-left: 600px;
    margin-top: 30px;
}
.diamonds p {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-left: 60px;
    margin-top: -35px;
}
.diamonds img {
    padding: 20px 0px 0px 0px;
}
.flexi {
    display: flex;
}
.premium {
    /* order: 2;
    width: 50%; */
    /* flex: 1; */
    position: relative;
}

.premium img {
    max-width: 59%;
    position: absolute;
    top: -50px;
    left: 550px;
    object-fit: cover;
    /* object-position: center;
    object-fit: cover; */
}
.premiums {
    /* order: 1;
    width: 50%; */
    /* flex: 1; */
    position: relative;
}
.premium p {
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    margin-left: 140px;
    margin-top: 90px;
}
.premium h6 {
    font-weight: 700;
    font-size: 26px;
    color: #2F281E;
    margin-left: 140px;
    margin-bottom: -30px;
}
.premiums {
    margin-left: 140px;
    margin-top: 30px;
}
.premiums p {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-left: 60px;
    margin-top: -35px;
}
.premiums img {
    padding: 20px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
    .sub {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    .plans h6 {
        font-size: 26px;
    }  
    .planns {
        position: unset;
        width: 100%;
        text-align: center;
    }
    .planns p {
        margin-left: -150px;
    }
    .planns h6 {
        margin-left: -20px;
        margin-bottom: 10px;
    }
    .planns img {
        position: unset;
        max-width: 100%;
        margin-top: -40px;
        margin-left: 30px;
    }
    .plannss {
        margin-left: 20px;
        margin-top: 0px;
    }
    .subs {
        position: unset;
        width: 100%;
        text-align: center;
    }
    .subs p {
        margin-left: -150px;
    }
    .subs h6 {
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .subs img {
        position: unset;
        max-width: 100%;
    }
    .subbs {
        margin-left: 20px;
        margin-top: 0px;
    }
    .diamond {
        position: unset;
        width: 100%;
        text-align: center;
    }
    .diamond p {
        margin-left: -150px;
    }
    .diamond h6 {
        margin-left: -20px;
        margin-bottom: 10px;
    }
    .diamond img {
        position: unset;
        max-width: 100%;
    }
    .diamonds {
        margin-left: 20px;
        margin-top: 0px;
    }
    .premium {
        position: unset;
        width: 100%;
        text-align: center;
    }
    .premium p {
        margin-left: -150px;
        margin-top: 30px;
    }
    .premium h6 {
        margin-left: -35px;
        margin-bottom: 10px;
    }
    .premium img {
        position: unset;
        max-width: 100%;
    }
    .premiums {
        margin-left: 20px;
        margin-top: 0px;
    }
}