.sings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.item1 {
  width:40%;
  background: #ff9900;
}
.sang img {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  object-fit: cover;
  object-position: center;
}
.item2 {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 40px 20px;
}
.item2Head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.item2Head img {
  width: 250px;
}
.item2Form {
  margin-top: -20px;
  width: 542px;
  display: flex;
  flex-direction: column;
}
.item2Text h5 {
  font-weight: 600;
  font-size: 30px;
  width: 228px;
}
.item2Text p {
  padding-bottom: 20px;
}
.btns {
  display: flex;
  width: 100%;
  margin-left: 0px;
  justify-content: space-between;
}
button {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 240px;
  height: 38px;
}
.button2 {
  background: #527bcb;
  border-radius: 10px;
  color: #ffffff;
}
.line {
  display: flex;
  width: 80%;
  margin-top: 30px;
}
.line p {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #000000;
  margin-right: 35px;
  margin-left: 40px;
}
.line img {
  width: 270px;
}
.text p {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  padding-top: 30px;
}
.search input::placeholder {
  color: #000000;
}
.input1 {
  width: 542px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #ff9900;
  border-radius: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.input1 input {
  padding-left: 40px;
  border: none;
  outline: none;
}
.input1 img .input2 img {
  width: 30px;
  height: 20px;
}
.input3 img {
  width: 30px;
  height: 20px;
  margin-left: 230px;
}
.input2 {
  width: 542px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #ff9900;
  border-radius: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.input2 input {
  padding-left: 40px;
  border: none;
  outline: none;
}
.bttn {
  width: 542px;
  height: 56px;
  background: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 10px;
  margin-top: 30px;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
}
.texxt p {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .sings {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    /* overflow: hidden; */
  }
  .item1 {
    display: none;
  }
  .item2Head {
    margin-left: 200px;
    margin-top: -40px;
  }
  .item2Text h5 {
    margin-left: 0px;
    padding-top: 150px;
  }
  .item2Text p {
    padding-top: 30px;
  }
  .text {
    order: 1;
  }
  .line {
    display: flex;
    margin-left: 0px;
    width: 100px;
    order: 2;
  }
  .btns {
    display: flex;
    margin-left: 0px;
    width: 380px;
    order: 3;
  }
  .input1,
  .input2,
  .bttn {
    width: 380px;
    height: 50px;
  }
  .input1 img {
    width: 5%;
  }
  .input2 img {
    width: 10%;
    margin-top: 10px;
  }
  .input3 img {
    width: 19%;
    margin-left: 100px;
  }
  .btns button {
    margin-left: -15px;
    margin-top: 20px;
  }
  .btns .button2 {
    margin-left: 10px;
    margin-top: 20px;
  }
  .line img {
    margin-left: -10px;
    margin-top: 10px;
    width: 150px;
  }
}
