.signs {
  display: flex;
  align-items: center;
  height: 1000px;
  width: 100vw;
  /* justify-content: center; */
  overflow-x: none;
}

.forms {
  width: 47vw;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 30px 80px 50px 30px;
}

.forms p {
    font-size: 0.85rem;
    margin: 20px 0;
}
.forms .btn {
    width: 100%;
    border-radius: 10px;
    height: 38px;
}
.forms .divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: center;
    height: 50px;
  }

  .divider .or {
    font-size: 0.75rem;
  }

  .divider .line {
    background: #000;
    height: 1px;
    width: 40%;
  }

  .forms .socialss {
    display: flex;
    justify-content: space-evenly;
  }

  .forms .socialss img {
    /* margin: 20px 80px; */
  }
p input {
    margin-right: 10px;
    cursor: pointer;
}
.best {
  width: 53vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(rgba(82, 182, 236, 0.6), rgba(82, 182, 236, 0.6)),
    url(../../images/portraitmann.png) no-repeat bottom/contain;
    background-size: 700px;
  /* background-color: rgba(82, 182, 236, 0.6);
    background-image: url(../../images/portraitman.png); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* height: 648px; */
  /* position: relative; */
}
.best h4 {
  font-weight: 600;
  font-size: 44px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
}

.best p {
  font-weight: 400;
  margin-bottom: 50px;
  font-size: 14px;
  color: #000000;
}
.sign-up h5 {
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  padding: 30px 0;
}
.sign-up p {
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 20px;
  /* padding-left: 30px; */
  color: #000000;
}
span {
  color: #52b6ec;
}
.sign-up h6 {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  /* padding-left: 30px; */
}
.full {
  /* margin-left: 30px; */
  margin-top: 20px;
}
.full input {
  background: rgba(151, 151, 151, 0.5);
  border: 1px solid #ff9900;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  /* padding-left: 30px; */
}
/* .fulls {
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.fulls input {
  background: rgba(151, 151, 151, 0.5);
  border: 1px solid #ff9900;
  border-radius: 5px;
  width: 177px;
  height: 40px;
}
.fulll p {
  margin-left: 200px;
  margin-top: -60px;
}
.fulll input {
  margin-left: 200px;
}
.fullss {
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.fullss input {
  background: rgba(151, 151, 151, 0.5);
  border: 1px solid #ff9900;
  border-radius: 5px;
  width: 177px;
  height: 40px;
} 
 .fullls p {
  margin-left: 200px;
  margin-top: 10px;
}
.fullls input {
  margin-left: 200px;
  margin-top: 10px;
} */

.forms label {
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.now {
  display: flex;
  /* width: 380px; */
  justify-content: space-between;
  /* margin: auto; */
  padding-top: 20px;
}
.now div {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.now input,
.now select {
  background: rgba(151, 151, 151, 0.5);
  border: 1px solid #ff9900;
  border-radius: 5px;
  /* width: 177px; */
  height: 40px;
}
@media screen and (max-width: 768px) {
  .signs {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow: hidden; */
  }

  .forms {
    width: 100%;
  }

  
  .best {
    display: none;
  }
   /* .now input {
    background: rgba(151, 151, 151, 0.5);
    border: 1px solid #ff9900;
    border-radius: 5px;

  }  */
}
