* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
}

a, button {
  cursor: pointer;
}

.btn_pry {
  background: #ff9900;
}

.text_pry {
  color: #ff9900;
}