/*Desktop Nav*/
.banner img {
    padding: 0px 0px 0px 50px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-navbar {
    display: none;
}
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #373737;
    overflow: hidden;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav ul li {
    cursor: pointer;
    padding: 0px 55px 50px 0px;
}
.nav li {
    list-style-type: none;
    cursor: pointer;
    margin-right: 30px;
}
.btn {
    background: #52B6EC;
    border-radius: 10px;
    border-style: hidden;
    height: 30px;
    width: 80px;
    color: #FFFFFF;
}
.btn1 {
    border: 2px solid #52B6EC;
    border-radius: 11px;
    height: 30px;
    width: 80px;
}
/*Mobile Nav */
.mobile-navbar {
    width: 20%;
}
.mobile-container {
    display: flex;
    padding: 10px;
    width: 100%;
}
.hamburger img {
    width: 150%;
    margin-bottom: 40px;
}
.mobile-navbar .mobile-navigations {
    left: 0;
    top: 80px;
    position: absolute;
    color: #FFFFFF;
    background: #52B6EC;
    border-radius: 2px;
    padding-left: 100px;
    width: 100%;
    z-index: 9;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 200px;
}
.toggle-nav {
    transform: translateX(0) !important;
    opacity: 1 !important;
}
.mobile-navbar .mobile-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 20%;
    margin-right: 5%;
}
.mobile-navigations .sign {
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
}
.mobile-navigations .sign div {
    margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
    .banner img {
        padding: 0px 0px 0px 20px;
    }
    .nav {
        display: none;
    }
    .mobile-navbar {
        display: block;
    }
}
